 <header class="header-bg">
        <div class="header container">
            <a href="./index.html"><img src="/img/svgs/logo-horizontal.svg" alt="Logo do projeto conecctive"></a>
            <div class="barra-pesquisa">
                <input type="text" name="pesquisar" id="pesquisar" class="input-logon" placeholder="Pesquisar Pessoas">
                <button for="pesquisar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
                <nav>
                    <ul class="lista-primaria">
                        <li><a href="/inicialContratante">Inicio</a></li>
                        <div class="aba-perfil">
                            <a href="#descricao" class="font-2-s">Informações Perfil</a>
                            <div class="informacoes-perfil">
                                <a href="/perfil-contratante" >Ver Perfil</a>
                                <a href="/editar-contratante">Editar Perfil</a>
                            </div>
                        </div>
                        <li><a href="login/logout">Sair</a></li>
                    </ul>
                </nav>
           
        </div>
    </header>

    {{>_msg}}
    <main class="perfis-cards container flex-centro row">
        
       
        
        <select id="areasTecnologia" class="input-logon secundario" style="text-indent: 0%; margin-bottom: 20px;  margin-right: 20px;">
                        
            <optgroup label="Software">
              <option value="Desenvolvimento Web">Desenvolvimento Web</option>
              <option value="Inteligência Artificial">Inteligência Artificial</option>
              <option value="Segurança da Informação">Segurança da Informação</option>
              <option value="Big Data">Big Data</option>
              <option value="Realidade Aumentada">Realidade Aumentada</option>
              <option value="Cibersegurança">Cibersegurança</option>
              <option value="Desenvolvimento Mobile">Desenvolvimento Mobile</option>
              <option value="Blockchain">Blockchain</option>
              <option value="Computação em Nuvem">Computação em Nuvem</option>
              <option value="Internet das Coisas (IoT)">Internet das Coisas (IoT)</option>
              <option value="Análise de Dados">Análise de Dados</option>
              <option value="Gestão de Projetos de TI">Gestão de Projetos de TI</option>
              <option value="Machine Learning">Machine Learning</option>
              <option value="Desenvolvimento de Jogos">Desenvolvimento de Jogos</option>
              <option value="Redes de Computadores">Redes de Computadores</option>
              <option value="Administração de Bancos de Dados">Administração de Bancos de Dados</option>
              <option value="Engenharia de Software">Engenharia de Software</option>
              <option value="E-commerce">E-commerce</option>
              <option value="Design de Interface de Usuário (UI)">Design de Interface de Usuário (UI)</option>
              <option value="Desenvolvimento de Aplicativos">Desenvolvimento de Aplicativos</option>
              <option value="Realidade Virtual">Realidade Virtual</option>
              <option value="Desenvolvimento Back-End">Desenvolvimento Back-End</option>
              <option value="Automatização de Processos">Automatização de Processos</option>
              <option value="Engenharia de Dados">Engenharia de Dados</option>
              <option value="Desenvolvimento Front-End">Desenvolvimento Front-End</option>
              <option value="Teste de Software">Teste de Software</option>
              <option value="Gestão de Sistemas de Informação">Gestão de Sistemas de Informação</option>
              <option value="Telecomunicações">Telecomunicações</option>
              <option value="Realidade Misturada">Realidade Misturada</option>
              <option value="Desenvolvimento de Software Embarcado">Desenvolvimento de Software Embarcado</option>
            </optgroup>
            <optgroup label="Hardware">
              <option value="Engenharia Eletrônica">Engenharia Eletrônica</option>
              <option value="Design de Circuitos">Design de Circuitos</option>
              <option value="Arquitetura de Computadores">Arquitetura de Computadores</option>
              <option value="Robótica">Robótica</option>
              <option value="Sistemas Embarcados">Sistemas Embarcados</option>
              <option value="Design de Chips">Design de Chips</option>
              <option value="Manutenção de Hardware">Manutenção de Hardware</option>
              <option value="Engenharia de Redes">Engenharia de Redes</option>
              <option value="Dispositivos Móveis">Dispositivos Móveis</option>
              <option value="Hardware de Servidores">Hardware de Servidores</option>
              <option value="Componentes Eletrônicos">Componentes Eletrônicos</option>
              <option value="Arquitetura de Sistemas Embarcados">Arquitetura de Sistemas Embarcados</option>
              <option value="Desenvolvimento de Hardware de Jogos">Desenvolvimento de Hardware de Jogos</option>
              <option value="Tecnologia de Armazenamento">Tecnologia de Armazenamento</option>
              <option value="Sistemas de Controle e Automação">Sistemas de Controle e Automação</option>
            </optgroup>
          </select>
         
       
        
          
            {{#each perfil_trabalhador}}
            <div class="cards flex-centro">
             <div class="perfil-imagem">
                <img src="/img/imagemusuario/{{img_perfil}}" alt="Foto de Perfil" >
            </div>
                 <div class="perfil-info">
                <h2>{{nm_perfil}}</h2>
                <p>{{nm_habilidades_tecnicas}}</p>
                <p>{{nm_cidade}} - {{nm_estado}}</p>
            </div>
            <div class="perfil-botoes">
                <a href="/inicialContratante/perfilTrabalhador/{{id_trabalhador}}"><button class="botao">Exibir Perfil</button></a>
                <a href=""><button class="botao destaque">Entrar em Contato</button></a>
            </div>
            </div>
            {{/each}}
           
        
        <div class="cards flex-centro">
            <div class="perfil-imagem">
                <img src="/img/fundos/perfil.png" alt="Foto de Perfil" >
            </div>
            <div class="perfil-info">
                <h2>Nome do Profissional</h2>
                <p>Profissão: [Profissão]</p>
                <p>Localização: [Cidade, Estado]</p>
            </div>
            <div class="perfil-botoes">
                <button class="botao">Exibir Perfil</button>
                <button class="botao destaque">Entrar em Contato</button>
            </div>
        </div>
        <div class="cards flex-centro">
            <div class="perfil-imagem">
                <img src="/img/fundos/perfil.png" alt="Foto de Perfil" >
            </div>
            <div class="perfil-info">
                <h2>Nome do Profissional</h2>
                <p>Profissão: [Profissão]</p>
                <p>Localização: [Cidade, Estado]</p>
            </div>
            <div class="perfil-botoes">
                <button class="botao">Exibir Perfil</button>
                <button class="botao destaque">Entrar em Contato</button>
            </div>
        </div>
        
    </main>






    <footer class="footer-bg">
        <div class="footer container">
            <img src="/img/svgs/logo-horizontal.svg" alt="">
            <div class="contato">
                <h3 class="cor-0 font-2-xl">CONTATO</h3>
                <ul class="lista-footer cor-6 font-1-s">
                    <li><a href="mailto:contato@bikcraft.com">inotec@gmail.com</a></li>
                </ul>
                <div class="sociais">
                    <a href="./"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="informacoes">
                <h3 class="cor-0 font-2-xl">INFORMAÇÕES</h3>
                <ul class="cor-6 font-1-s">
                    <li><a href="">Termos e Condições</a></li>
                    <li><a href="">Insenção de responsabilidade</a></li>
                </ul>
            </div>
            <div class="footer-copy font-2-m cor-6">
                <p>Conecctive © Alguns direitos reservados.</p>
            </div>
    </footer>
    <script src="../script/perfil/script.js"></script>